.recipelist {
    padding-left: 1rem;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    flex-direction: column;
    color: #707070;
}
.recipelist > div {
    margin: 5px;
    margin-top: 0;
}
.rec {
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}